@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* This is a style rule that targets ALL elements. * is an asterisk wildcard selector, and means "all elements". 
It is at the top of the page and is also a very generic style rule so it is easily overridden
It removes all default margin, padding and border properties organic to various elements and as such allows for finer control over box-model measurements*/

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

.logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*The animation properties link the #hero-image style rule to the @keyframes rule - the hero-zoom is common to both, set the duration of the "zoom" (see comment below)
and the fill-mode property of forwards keeps the image "zoomed-in" - it stays at the end state*/

#hero-outer {
    height: 600px;
    width: 100%;
    clear: both;
    overflow: hidden;
    /* overflow: hidden and clear: both do the same thing - reset the page after the float: left and float: right of the heading and navigation elements
    But clear: both on its own expands the container size when the image "zooms-in". Overflow: hidden prevents this, and keeps the container to the same size - 
    it hides the overflow caused by the zoom*/
    position: relative;
    /*Position: relative forces the child div box called #cover-text to be placed relative to the #hero-outer. This means it will fully lay over the background image
    */
}


@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
/*The Keyframes style rule is used to create animations. This particular rule creates a pseudo-zoom effect
The image isn't actually zooming in, it's just being increased in size. However, the height and width of the image are fixed, so the image appears to be zooming in
The image is "zooming-in" 10%*/

#cover-text-box, #cover-text-box h2 {
    color: #fff;

}

#cover-text-box {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*This properties define the text placed in the box*/

    width: 300px;
    height: 200px;
    /*This properties define the dimensions of the box*/

    padding-top: 40px;
    padding-left: 10px;
    /*These properties define the padding of the box, so that the text sits more centrally*/
    
    background-color: rgba(241, 109, 107, 0.7);
    /*The background color property uses rgba values here so that the opacity can be defined. This allows the hero-image to still be visible through the box. 
    The colour is a subtle contrast - the box should sit over the man on the left's blue jacket, and the text has been made white*/

    bottom: 30px;
    right: 150px;
    /*These properties set the position relative to the parent div. Since the parent div and the hero-image have the same dimensions, the text-box will overlay the image*/

    position: absolute;
    /*The positon: absolute allows the text-box to be positioned, since the parent section has been given position: absolute*/
}

/*Club ethos*/

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}

.about-content {
    width: 60%;
    margin-bottom: 50px;
    line-height: 20px;
    clear: both;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-center-image {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

#meetup-times-background-image {
    background: url('../images/dublin-city.webp');
    background-repeat: no-repeat; /*Forces no image repetition*/
    background-size: cover; /*Forces image to expand to fill the width of the container*/
    background-position: center; /*Centers image */
    width: 100%; /*Defines width of container and height as well given aspect ratio*/
    overflow: hidden; /*Hides overflow*/
}

#meetup-times-background-image .meetup-times {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6); /*applies a dark filter to the image, highlighting text*/
    width: 20%;
    height: 300px;
    float: left; /*Used here, float forces the divs into a horizontal line*/
    padding: 30px 0 0 10px; /*Centers text within the box*/
    text-align: center;
    border: 2px solid white; /*Adds borders to the divs, overlaying the image and breaking the image into 5 distinct boxes*/
    box-sizing: border-box; /*Tells the browser to include borders in the width calculation, so the 20% width still works without overflowing onto the next line down*/
}

.meetup-times h2 {
    color: #fafafa;
}

/*Footer*/

footer {
    height: 150px;
}

.social-media {
    text-align: center;/**/

}

.social-media > li {
    display: inline;
}

.social-media i {
    /*margin-left: 20%;*/
    margin: 1%;
    padding: 5%;
    font-size: 180%;
    color: #3a3a3a;

}

/*Gallery*/

#photos {
    clear: both; /*Displays photos below header*/
    line-height: 0; /*Removes gaps between images*/
    column-count: 4; /*Arranges images into 4 columns*/
    column-gap: 0; /*Removes gaps between images*/

}

#photos > img {
    width:  100%; /*Works in tandem with column-count to arrange images. Column count splist the section into 4 containers
                    width: 100% forces each image to take up 100% of the width of its designated column*/
}

/*Media queries*/

/*The Love Running site starts to have content overlapping at around 1200px width, so we need a style rule to address this*/

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%; /*Content takes up 2/3rds of the screen width of a tablet*/
        height: 1200px; /*Extends vertical height to accomodate text being pushed around*/
        margin: 0 auto; /*Centers*/
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%; /*Left-about and right-about take up 100% of the 65% width of the parent*/
        float: left; /*Forces the left-about and right-about containers to stack on top of each other*/
        padding: 0; /*Removes all padding*/
    }

    #center-about {
        clear: both; /*Pushes image to below the left-about and right-about*/
        width: 100%;
        padding: 0;
        float: left; /*Stacks image below the left-about and right-about*/
    }

    hr {
        display: none; /*Hides the horizontal rule that underline the headings*/
    }

    #meetup-times-background-image .meetup-times {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        /*These properties stack the meetup times vertically, and this applies to both tablet (1200px) and smartphone users (950px)*/
    }
}

@media screen and (max-width: 950px) { /*Addresses smartphone users*/
    #menu {
        clear: left;
        float: left; /*Forces navigation menu to under the Love Running logo*/
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text-box {
        left: 0; /*Sticks text box to the left-side of the page*/
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .about-content {
        width: inherit; /*Forces about-content divs to take up 90% of the screen width, as that is the width of the parent container*/
    }

    .about-content h2 {
        width: 100%;
        text-align: center;
    }

    .about-content p {
        text-align: center;
        padding: 0 20px;

    }
}